
/* You can add global styles to this file, and also import other style files */

body{
    font-family:'Gill Sans', sans-serif;
    padding: 1em;
    background-color: rgb(206, 206, 206);
}

.card{
    margin: auto;
    border: 0;
    border-radius: 10px;
    width: 700px;
    height: flex;
    background-color:white;
}

.card-title{
    margin:20px;
    font-size: 40pt;
}

.table{
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    width: 660px;
    align-self: center;
}

th,
td{
    width: 120px;
}

.textcol{
    width:90px
}

.lastrow{
    border-bottom: hidden;
}

.box{
    text-align: right;
}

.btn{
    width: 80px;
    margin-left: 10px;
}

.list-group-item.title {
    width: 120px;
}

.list-group-item{
    min-width: 120px;
}
