<div class="card shadow-lg">
  <h5 class="card-title">EMPLOYEES</h5>
  <table class="table">
    <thead>
      <tr>
        <th class="textcol">First Name</th>
        <th class="textcol">Last Name</th>
        <th class="textcol">Salary</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList">
        <td class="textcol">{{ employee.first_name }}</td>
        <td class="textcol">{{ employee.last_name }}</td>
        <td class="textcol">{{ employee.salary | currency:'USD': true: '1.0-0'}}</td>
        <td>
          <app-employee-crud
            [employee]=employee 
            (updatedEmployees)="updateEmployeeList($event)"
          ></app-employee-crud>
        </td>
        <td><button type="button" class="btn btn-outline-danger" (click)="deleteEmployee(employee)">delete</button></td>
      </tr>
      <tr class="lastrow">
        <td colspan="4">
        </td>
        <td>
          <app-employee-crud
            [employee]="target" 
            (updatedEmployees)="updateEmployeeList($event)"
          ></app-employee-crud>
        </td>
      </tr>
    </tbody>
  </table>
</div>